## SQL with Python
This is a refresher reference of what I learned working with SQL and python <br> <br>
A popular database that we'll be using is **Google BigQuery**, this is for personal use. We will be using the popular datasets that Google Cloud has to offer, keep in mind, the possibilities with GBQ are endless. This is just a simple example for indiviual use.<br> 

### How to use Google BigQuery API 
<ul>
    <li>Go to console.google.cloud.com</li><br>
    <li>Create a project, and make sure Google BigQuery API is enabled</li>
    <strong>keep in mind you can use Google BigQuery API free, you should not have to adjust or link your billing account if you intend to use it for indiviual small use, like in this case.</strong><br><br>
    <li>Create a Google Cloud Service Account</li>
    <strong>I highly recommend you to view this video on how to make a service account</strong> <a href = "https://youtu.be/lLPdRRy7dfE?list=PL3JVwFmb_BnRKqcbtl2hHL5GIQOHX-sC5" >Getting Started With Google BigQuery API In Python
</a> <br><br>
    <li>Install Google BigQuery</li>
    <strong>Steps for this process are in this video, </strong>
<a href = "https://www.youtube.com/watch?v=gb0bytUGDnQ&t=0s">How to create a Google Cloud Service Account and download client json file
</a>

</ul>

<h5>If you are using Jupyter Notebooks make sure to add (!) symbol before pip installations as that tells the computer to run it in the shell terminal</h5>

<h5>To view all of the public datasets in bigquery, go to your project dashbord and click run a query, then run a sample query and click "open this query", you are now in the google bigquery public datasets and you can view all of the datasets. To use one just call it like this </h5>

```dataset_ref = client.dataset("name-of-dataset", project="bigquery-public-data")```<br>
```dataset = client.get_dataset(dataset_ref)```

### Setting up your enviornment and viewing your data

In [1]:
# !pip install google-cloud-bigquery

In [2]:
import os
import pandas as pd
import numpy as np
from google.cloud import bigquery

# authenticates account
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'data/google cloud/key.json'

# create a "Client" object
client = bigquery.Client()

# construct a reference to the "stackoverflow" dataset
dataset_ref = client.dataset("stackoverflow", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

In [3]:
# Get a list of available tables 
tables = list(client.list_tables(dataset))
list_of_tables = [table.table_id for table in tables] 

# Print your answer
print(list_of_tables)

['badges', 'comments', 'post_history', 'post_links', 'posts_answers', 'posts_moderator_nomination', 'posts_orphaned_tag_wiki', 'posts_privilege_wiki', 'posts_questions', 'posts_tag_wiki', 'posts_tag_wiki_excerpt', 'posts_wiki_placeholder', 'stackoverflow_posts', 'tags', 'users', 'votes']

### Note: Common error No Module 'db_dtypes' found
You may get this error saying db_dtypes not found when you try to use the method `to_dataframe()`
to fix this just use `!pip install db_dtypes` and if that still does not work then save your notebook and restart the program and it should fix it

In [7]:
# construct a reference to the "posts_answers" table
answers_table_ref = dataset_ref.table("posts_answers")

# API request - fetch the table
answers_table = client.get_table(answers_table_ref)

# preview the first five lines of the "posts_answers" table
client.list_rows(answers_table, max_results=5).to_dataframe()

,id,title,body,accepted_answer_id,answer_count,comment_count,community_owned_date,creation_date,favorite_count,last_activity_date,last_edit_date,last_editor_display_name,last_editor_user_id,owner_display_name,owner_user_id,parent_id,post_type_id,score,tags,view_count
0,18,None,<p>For a table like this:</p>\n\n<pre><code>CR...,None,None,2,NaT,2008-08-01 05:12:44.193000+00:00,None,2016-06-02 05:56:26.060000+00:00,2016-06-02 05:56:26.060000+00:00,Jeff Atwood,126039,phpguy,<NA>,17,2,59,None,None
1,165,None,"<p>You can use a <a href=""http://sharpdevelop....",None,None,0,NaT,2008-08-01 18:04:25.023000+00:00,None,2019-04-06 14:03:51.080000+00:00,2019-04-06 14:03:51.080000+00:00,None,1721793,user2189331,<NA>,145,2,10,None,None
2,1028,None,<p>The VB code looks something like this:</p>\...,None,None,0,NaT,2008-08-04 04:58:40.300000+00:00,None,2013-02-07 13:22:14.680000+00:00,2013-02-07 13:22:14.680000+00:00,None,395659,user2189331,<NA>,947,2,8,None,None
3,1073,None,<p>My first choice would be a dedicated heap t...,None,None,0,NaT,2008-08-04 07:51:02.997000+00:00,None,2015-09-01 17:32:32.120000+00:00,2015-09-01 17:32:32.120000+00:00,None,45459,user2189331,<NA>,1069,2,29,None,None
4,1260,None,<p>I found the answer. all you have to do is a...,None,None,0,NaT,2008-08-04 14:06:02.863000+00:00,None,2016-12-20 08:38:48.867000+00:00,2016-12-20 08:38:48.867000+00:00,None,1221571,Jin,<NA>,1229,2,1,None,None

<br>

### SQL LIKE and WHERE

In SQL, the percent sign is a wildcard character in "LIKE" expressions, suppose we have a table that is the english dictionary and we want to find all the words that start with micro for example <br>

```SELECT * FROM english_dic_table``` <br>
```WHERE word LIKE 'micro%'``` 

<strong>will fetch all words that start with "micro", which would return back microscopic, microplastic etc...</strong><br>

Similiary we can return all the words which are phobias, that end in "phobia"<br>

```SELECT * FROM english_dic_table``` <br>
```WHERE word LIKE '%phobia'``` 

`Arachnophobia, Claustrophobia`<br>

Or if you want to find any words that contains the word "easy", maybe you want to find what words rythm well with easy<br>

```overeasy, greasy, easygoing, queasy```

### StackOverFlow BigQuery Questions
<br>

In [9]:
# we are selecting the id, title, and owner_user_id in the questions tab where it contains the word "bigquery" because 
# maybe we want to see all the questions on stackoverflow relating to Google BigQuery
questions_query = """
                  SELECT id, title, owner_user_id
                  FROM `bigquery-public-data.stackoverflow.posts_questions`
                  WHERE tags LIKE '%bigquery%'
                  """

# set up the query (cancel the query if it would use too much of your quota, with the limit set to 1 GB)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10 ** 10)
questions_query_job = client.query(questions_query, job_config = safe_config)

# API request - run the query, and return a pandas DataFrame
questions_results = questions_query_job.to_dataframe() 

# preview results
print(questions_results.head())

         id                                              title  owner_user_id
0  63863656                 BigQuery GENERATE_UUID() and CTE's        1904551
1  64015814  Bigquery api response show in the json f, v fo...       14322916
2  64123216     BigQuery couldn't connect to cloud SQL (MYSQL)        4378489
3  63937852  Parse out Y-M-D from Y-M-D H-M-S UTC sql bigquery       10868854
4  64159617  Create a Datatabase link to Google BigQuery in...       10281741

### Example of practical use for SQL using JOIN
<br>
Suppose you want to get a list of all the experts on stackoverflow who are really knowledable about Google BigQeury, you could make a query that returns the users who answered at least one question about bigquery and the amount of questions they answered in total that related to that subject<br>

the **AS** operator just stores the variable as a name that you can use later, <br>
**COUNT(1)** counts how many rows that are in the dataset<br>
we did an **INNER JOIN** and used **ON** to determine which column in each table to use to combine the tables. Which are <br> 

id from the questions table, that we call by `q.id` and parent_id from the answers table that we call by `a.parent_id`<br>

We only want the questions that contain the word "bigquery" so from our previous code we know to use **WHERE** and the % wild card. <br>

We **GROUP BY** the person who answered the question, which breaks the data into different groups for each person or "expert".<br>

Lastly we order the dataset so that the most famous experts are on the top using **ORDER BY**

In [13]:
# Your code here
bigquery_experts_query = """

        SELECT a.owner_user_id AS user_id, COUNT(1) AS number_of_answers
        FROM bigquery-public-data.stackoverflow.posts_questions as q
        INNER JOIN bigquery-public-data.stackoverflow.posts_answers as a
            ON q.id = a.parent_id
        WHERE q.tags LIKE '%bigquery%'
        GROUP BY a.owner_user_id
        ORDER BY number_of_answers DESC

"""

# set up the query
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10 ** 10)
bigquery_experts_query_job = client.query(bigquery_experts_query, job_config = safe_config) # Your code goes here

# API request - run the query, and return a pandas DataFrame
bigquery_experts_results = bigquery_experts_query_job.to_dataframe()

# preview results
print(bigquery_experts_results.head())

   user_id  number_of_answers
0  5221944               5203
1  1144035               1634
2   132438                898
3  6253347                737
4  1366527                620